@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic');
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.webcamCapture {
    position: relative;
}

.canvas {
    position: absolute;
}

.devices {
    justify-content: flex-end;
    position: relative;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}

.App {
    font-family: sans-serif;
    text-align: center;
    overflow-y: scroll;
}

.app-background {
    margin: auto;
    /*background-color: #bee3ff; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 82vh;
}

.main-container {
    padding-top: 1px;
    width: 100vh;
    height: 89vh;
    border-bottom: 10px;
    box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.35);
    overflow-y: scroll;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3;
    /* Light grey */
    border-top: 10px solid #383636;
    /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}

.spinner-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.gap-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.gap2-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 10px;
}

.default {
    position: relative;
    height: 160px;
    margin: auto;
}

.frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 5px;
    position: relative;
    width: 100%;
    height: 108px;
    left: calc(50% - 190px/2 + 0.5px);
    top: calc(50% - 108px/2);
}

.upload {
    width: 60px;
    height: 60px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.vector {
    position: a;
    /* Neutral/N300 */
}

.vector-box {
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.text1 {
    width: 134px;
    height: 20px;
    /* Desktop/16-Semibold */
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    /* Neutral/N500 */
    color: #333333;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.text2 {
    width: 195px;
    height: 18px;
    /* Desktop/14-Regular */
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    text-align: center;
    /* Neutral/N400 */
    color: #828282;
    /* Inside auto layout */
    flex: none;
    order: 2;
    left: 0px;
    flex-grow: 0;
}

.rect {
    width: 100%;
    left: 0px;
    position: absolute;
    height: 160px;
    right: 0px;
    top: 0px;
    /* White */
    /* Neutral/N500 */
    border: 2px dashed #CBCED1;
    border-radius: 4px;
}

.title {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 30px;
    color: black;
}

.title-container {
    width: 95%;
    display: block;
    box-sizing: border-box;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.title-button {
    position: relative;
    left: -15%;
    padding-top: 10px;
    display: inline-block;
    max-width: 50px;
    width: 50px;
    height: 50px;
}

.project-container {
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    /* Neutral/N200 */
}

.project-title {
    width: 50vw;
    height: 50px;
    display: inline-block;
    /* Desktop/18-Semibold */
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 34px;
    padding-right: 30px;
    text-align: center;
    /* identical to box height */
    /* Neutral/N600 */
    color: #000000;
}

.project-list {
    box-sizing: border-box;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    padding: 30px 30px 30px;
    background-color: #F4F5F7;
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
}

.project-item {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.item-list {
    display: flex;
    flex-direction: column;
}

.item-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    border: 1.5px solid #D8D8D8;
    border-radius: 8px;
}

.name-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 233px;
    height: 43px;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-left: 5%;
}

.name {
    font-family: 'Source Sans Pro - Bold';
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    color: #000000;
}

.description {
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 174px;
    height: 15px;
}

.label-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 5px;
    width: 45px;
    height: 15px;
}

.labels {
    width: 50px;
    height: 15px;
    font-family: 'Source Sans Pro - Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    /* Neutral/N500 */
    color: #333333;
    /* Inside auto layout */
}

.spacer-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    width: 3px;
    height: 15px;
}

.spacer {
    width: 3px;
    height: 15px;
    font-family: 'Source Sans Pro - Bold';
    font-style: bold;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    /* identical to box height */
    /* Neutral/N300 */
    color: #696969;
    /* Inside auto layout */
}

.created-container {
    display: flex;
    flex-direction: row;
    width: 118px;
    height: 15px;
}

.created {
    width: 118px;
    height: 15px;
    font-family: 'Source Sans Pro - Bold';
    font-style: normal;
    padding-left: -100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    /* Neutral/N500 */
    color: #333333;
    /* Inside auto layout */
}

.graph-container {
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.graph {
    padding-left: 13px;
}

.recog {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    /* identical to box height */
    /* Neutral/N400 */
    color: #828282;
}

.quantity-container {
    padding-right: 2%;
}

.total {
    float: right;
    padding: 10px;
}

.quantity {
    align-items: center;
    border: 1px solid red;
    background: white;
    border-radius: 50px;
    font-size: 12px;
    color: red;
    min-width: 30px;
    justify-content: space-between;
}

.button2 {
    width: 90%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: #45469C;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
}

.buttongray {
    width: 90%;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: #F5F5F5;
    color: #C3C3C3;
}

.radio-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 328px;
    height: 20px;
    left: 1024px;
    top: 130px;
}

.radio-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 175px;
    height: 20px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.radio-button {
    width: 20px;
    height: 20px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.radio-eclipse1 {
    box-sizing: border-box;
    /* Primary/P500 */
    background: #45469C;
    /* Primary/P500 */
    border: 1px solid #45469C;
}

.radio-eclipse2 {
    box-sizing: border-box;
    /* Neutral/N100 */
    background: #FFFFFF;
    /* Primary/P500 */
    border: 1px solid #45469C;
}

.radio-label {
    width: 147px;
    height: 18px;
    /* Desktop/14-Semibold */
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    /* Neutral/N600 */
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.select-container {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 0;
    justify-content: center;
    padding: 30px 30px 1px;
    background-color: #F4F5F7;
}

.select {
    background: papayawhip;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    color: black,
}

button {
    background: transparent;
    border: none;
    margin: 3px;
    color: #ec645b;
}

button:focus {
    outline: 0;
}

button:hover {
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
}

.add-item-box {
    background: #fbc1bb;
    color: #ec645b;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
}

.add-item-box svg {
    margin: 5px;
}

.add-item-input {
    box-sizing: border-box;
    border: none;
    background: transparent;
    width: 100%;
    height: 30px;
}

.item-name svg {
    margin-left: 5px;
    margin-right: 5px;
}

.item-action-buttons {
    /* width: 30%; */
    display: flex;
    justify-content: space-between;
}

.remove-button {
    color: white;
    background-color: red;
}

input::placeholder {
    color: #D8D8D8;
}

input:focus {
    outline: 0;
}